@font-face {
    font-family: "Poor Story";
    src: url("../fonts/PoorStory-Regular.woff2") format("woff2"), url("../fonts/PoorStory-Regular.woff") format("woff"), url("../fonts/PoorStory-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }