   $primary-color: rgb(255, 196, 0);
    $secondary-color: rgb(235, 233, 233);

    $font-fam: 'Poor Story', sans-serif;
    $font-color: rgb(39, 39, 39);

    $padding-l-r: 2rem;
    $padding-sections: 5rem 20vw;
    $margin-bootom-sections: 30px;

    $transition: all .3s ease-in-out;

    $break-xsmall: 600px;
    $break-small: 650px;
    $break-medium: 1000px;
    $break-large: 1400px;
    $break-xlarge: 1600px;
